@import "tailwindcss";

@theme {
  --color-paper: #F7F4EB;
  --color-paper-dark: #EAE5D9;
  --color-earth: #8B7355;
  --color-earth-light: #D4C5B9;
  --color-earth-dark: #5E4B37;
  --color-leaf: #A3B18A;
  --color-leaf-light: #E0E5D5;
  
  --shadow-soft: 4px 4px 0px #E0E5D5;
  --radius-2xl: 1.5rem;
  --radius-3xl: 2rem;
}

body {
  background-color: var(--color-paper);
  color: var(--color-earth-dark);
  margin: 0;
  padding: 0;
}